#root {
  min-width: fit-content;
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: white;
}

#screen{
  width: 100%;
  height: 80px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:center;
  padding-right: 10px;
}

#operatorButton{
  display: flex;
  flex-direction: column;
  width: 60px;
}

#operatorButton button{
  width: 60px;
  background-color: gray;
  border-radius: 50%;
  height: 60px;
  font-size: 1.2rem;
  margin: 2px;
}

#calculatorButton{
  margin-top: 10px;
  width: 100%;
  display: flex;
}

#numberButton, #scientificButton{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

#numberButton button{
  margin: 2px;
  height: 60px;
  background-color: antiquewhite;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#equalButton{
  background-color: rgba(165, 159, 159, 0.158) !important;
  color: white;
}

#trigonometryButton button, #scientificButton button{
  background-color: gray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 2px;
}

#history{
  height: 70%;
}