#root {
  min-width: fit-content;
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #161a1d;
  border: 2px solid;
  border-width: 0 0 10px 8px;
  border-radius: 15px;
  border-color: transparent transparent #525050 #474141;
  background-clip: padding-box; 
}

h1{
  color: #ffffff;
}

#screen{
  width: 100%;
  height: 150px;
  background-color: #f5f3f4;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:center;
  padding-right: 10px;
}

#operatorButton{
  display: flex;
  flex-direction: column;
  width: 60px;
}

#operatorButton button{
  width: 60px;
  background-color: #a4161a;
  height: 60px;
  font-size: 1.2rem;
  margin: 2px;
}

#calculatorButton{
  margin-top: 10px;
  width: 100%;
  display: flex;
}

#numberButton, #scientificButton{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

#numberButton button{
  margin: 2px;
  height: 60px;
  background-color: #ffffff;
  height: 60px;
  width: 60px;
}

#equalButton{
  background-color: #660708 !important;
  color: #ffffff;
  border-width: 0 0 5px 4px;
  border-radius: 5px;
  border-color: transparent transparent #999 #ddd;
  background-clip: padding-box; 
}

#scientificButton button, #trigonometryButton button, #operatorButton button, #numberButton button {
  border-width: 0 0 5px 4px;
  border-radius: 5px;
  border-color: transparent transparent #999 #ddd;
  background-clip: padding-box;
}


#equalButton:active, #scientificButton button:active, #trigonometryButton button:active, #operatorButton button:active, #numberButton button:active{
  border-width: 0 0 0 0;
}

#trigonometryButton button, #scientificButton button{
  background-color: #b1a7a6;
  width: 60px;
  height: 60px;
  margin: 2px;
}

#history{
  height: 70%;
  font-size: 3em;
  color: #ba181b;
  font-weight: bold;
}

#result{
  font-size: 1.8rem;
  color: #660708;
}

#registerConn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}


#register{
  display: flex;
  flex-direction: column;
}


